<!DOCTYPE html>
<html>
<head>
    <title>Помилка</title>
</head>
<body>
{{> header }}
<div style="text-align: center;">
    <h1>Помилка</h1>
    <p>{{message}}</p>
    <a href="/">Повернутися назад</a>
</div>
{{> footer }}
</body>
</html>